{layout name="common/layout" /}
<link rel="stylesheet" href="__ADDON__/static/css/video.css" />
<script src="__ADDON__/static/js/jquery.superslide.2.1.1.js" type="text/javascript"></script>
<div id="go-top"></div>
<div class="prest">
    <ul class="gz-ys">
        {foreach $banner as $v}
        <li>
            <a href="{$v['url']}" style="background-image:url({$v['image']})"></a>
        </li>
        {/foreach}
    </ul>
    <ul class="dot"></ul>
</div>
<script>
    jQuery(".prest").slide({
        titCell: ".dot",
        mainCell: ".gz-ys",
        effect: "left",
        autoPlay: true,
        delayTime: 700,
        autoPage: true
    });
</script>
<div class="nobost">
    <div class="wrap tc">
       {cms:nav flag="ok" where="parent_id = 49" flag="$__FLAG__" /}
       <!--  <a id="" href="">天然粉粉</a>
        <a id="" class="cur" href="">有机食品</a>
        <a id="" href="">固体饮料</a>
        <a id="" href="">代用茶</a>
        <a id="" href="">粉粉搭档</a>
        <a id="" href="">提神含片</a> -->
    </div>
</div>
<script>
    var cateid = "3";
    $("#d_nav" + cateid).addClass("cur");
</script>

<div class="sloct wrap">

    <div class="sloct w800">
        <div class="btmls tc">
            <img src="{$data.image}" alt="" width="50" height="50" />
            <div class="mt10">
                {$data.content}
            </div>
        </div>
        <!-- <div class="mt30 tc tm-intro">
            成都中医大、四川农业大学联合研发100多次试验，细胞级深入研究，分析不<br /> 同食材的营养价值。锁住食材全部营养，评估食材适宜的加工温度、加工工艺。60多次反复
            <br /> 调配，只为中国人体质，搭配可靠的食养方。
        </div> -->
    </div>

    <div class="intro-video">

        <img src="{$data.background}" alt="" />
        <a href="javascript:;" class="video-li-a">

        </a>
        <!--video-->
        <div class="big-video">
            <div class="big-video-main">
                <video id="my-video" class="video-js" controls preload="auto" width="800" height="500" poster="images/video.jpg" data-setup="{}">
                    <source src="{:trans_src($data.video)}" type="video/mp4">
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div class="big-video-clo">
                <!--close-->
            </div>
        </div>
        <!--video end-->

    </div>
    <div class="btmls tc mt70" style="text-align: center;">
    <div class="plaskt" style="border:none;">
        {$data.description}
    </div>
    <script type="text/javascript">
        function showIntro(thisObj,num) {
            $(thisObj).addClass("active");
            $(thisObj).siblings().removeClass("active");
            $("#introParent>div").eq(num - 1).show();
            $("#introParent>div").eq(num - 1).siblings().hide();
        }
    </script>
</div>

<script type="text/javascript" src="__ADDON__/static/js/video.min.js"></script>
<script>
    jQuery(".prest").slide({
        titCell: ".dot",
        mainCell: ".gz-ys",
        effect: "left",
        autoPlay: true,
        delayTime: 700,
        autoPage: true
    });
</script>

<!--播放视频-->
<script type="text/javascript">
    $(function() {
        //video初始化
        var myPlayer = videojs('my-video');
        videojs("my-video").ready(function() {
            var myPlayer = this;
        });
        //打开
        $(".video-li-a").on("click", function() {
            $(".big-video").css("display", "block");
            myPlayer.play(); //开始播放
        })

        //关闭
        $(".big-video-clo").on("click", function() {
            $(".big-video").css("display", "none");
            myPlayer.pause(); //暂停
        })

    })
</script>